.wrapper {
   margin: 2rem 0rem 0rem 2rem;
   display: inline-block;
   text-align: left;
}

.user-details {
    width: 25rem;
    float: left;
}
.user-list {
    width: 40rem;
    float: left;
    margin: 1rem 2rem 0 2rem;
}